/* src/styles/EditPost.css */


.edit-post-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  color: white;
}

#main-box{
  background-color: #0f1923;
  border: 1px solid #ff0024;
  border-radius: 0;
  padding: 1rem;
}

.post-image {
  max-width: 500px;
  margin-bottom: 20px;
}

.post-image img {
  max-width: 100%;
}

#input-titulo,
#input-descricao {
  color: white;
  width: 100%;
  padding: 10px;
  border: 1px solid #ff0024;
  font-size: 16px;
  background-color: #ffffff00;
  margin-left: 1,5rem;
}


.save-button {
  background-color: #ffffff00;
  border: 1px solid #ff0024;
  color: #fff;
  padding: 10px 40px;
  font-size: 16px;
  cursor: pointer;

}

.save-button:hover {
  background-color: #ff00228a;
  color: #fff;
}

.back-button {
  background-color: #ffffff00;
  border: 1px solid #ff0024;
  color: #fff;
  padding: 10px 40px;
  font-size: 16px;
  cursor: pointer;

}

.back-button:hover {
  background-color: #ff00228a;
}

#file-upload-button {
  display: none;
}


.file-upload-label {
  background-color: #ffffff00;
  color: white;
  border: 1px solid #ff0024;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  display: inline-block;
}

.file-upload-label:hover {
  background-color: #ff00228a;
}

textarea {
  resize: none;
}

.inputs-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.inputs-div h3{
  color: #fff;
}
.h3-inputs{
  width: 11rem;

}